{% extends 'bookings/base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block add-content %}
    <h2>
        {% block title %}
            {% trans 'réservation' as title %}
            {{ title|title }}
        {% endblock title %}
    </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                {% block information %}
                    <div class="panel-heading">
                        <a href="{% url 'bookings:booking-update' pk=booking.pk %}"
                           class="btn btn-xs btn-primary pull-right">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-list-alt"></span> {% trans 'Informations' %}
                        </h3>
                    </div>
                    <div class="list-group">
                        {% if booking.owner %}
                            <div class="list-group-item">
                                <span class="glyphicon glyphicon-user"></span> {{ booking.owner }}
                            </div>
                        {% endif %}
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-info-sign"></span> {{ booking.reason }}
                        </div>
                        {% if booking.details %}
                            <div class="list-group-item">
                                <span class="glyphicon glyphicon-comment"></span> {{ booking.details|linebreaks }}
                            </div>
                        {% endif %}
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-tag"></span> {{ booking.category }}
                        </div>
                    </div>
                {% endblock information %}
            </div>
        </div>
        {% block occurrences %}
            <div class="col-md-6">
                <div class="panel panel-default">
                    {% block occurrence_form %}
                        <div class="panel-heading">
                            {% if perms.bookings.add_bookingoccurrence %}
                                <a href="{% url 'bookings:occurrence-new' booking_pk=booking.id %}"
                                   class="btn btn-xs btn-success pull-right">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            {% endif %}
                            <h3 class="panel-title"><span
                                    class="glyphicon glyphicon-calendar"></span> {% trans 'Occurrences' %}
                            </h3>
                        </div>
                    {% endblock occurrence_form %}

                    <div class="list-group">
                        {% for occ in occurrences %}
                            {% if perms.bookings.change_bookingoccurrence %}
                                <a href="{% url 'bookings:occurrence-edit' booking_pk=booking.pk pk=occ.pk %}"
                                   class="list-group-item{% if occ == current_occurrence %} active{% endif %}">
                            {% else %}
                                <div class="list-group-item">
                            {% endif %}

                            <span class="glyphicon glyphicon-time"></span>

                            {{ occ.resources_names|join:', ' }} : {{ occ.str_dates|capfirst }}

                            <span class="badge">{{ occ.get_resources_count }}</span>

                            {% if perms.bookings.change_bookingoccurrence %}
                                </a>
                            {% else %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        {% if occurrences.has_other_pages %}
                                <div class="list-group-item">

                                    <nav>
                                        <ul class="pagination">
                                            <li class="{% if occurrences.has_previous == False %}disabled{% endif %}">
                                                <a href="?occ_page={{ occurrences.number|add:'-1' }}">&laquo;</a>
                                            </li>

                                            {% for page in occurrences.paginator.page_range %}
                                                <li class="{% if page == occurrences.number %}active{% endif %}">
                                                    <a href="?occ_page={{ page }}">{{ page }}</a>
                                                </li>
                                            {% endfor %}

                                            <li class="{% if occurrences.has_next == False %}disabled{% endif %}">
                                                <a href="?occ_page={{ occurrences.number|add:'1' }}">&raquo;</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        {% endblock occurrences %}
    </div>

{% endblock add-content %}
