{% extends 'base.html' %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block add-content %}
    <h2>
        {% block title %}
            {% trans 'réservation' as title %}
            {{ title|title }}
        {% endblock title %}
    </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                {% block information %}
                    <div class="panel-heading">
                        <a href="{% url 'bookings:booking-update' pk=booking.pk %}"
                           class="btn btn-xs btn-primary pull-right">
                            <span class="glyphicon glyphicon-edit"></span>
                        </a>
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-list-alt"></span> {% trans 'Informations' %}
                        </h3>
                    </div>
                    <div class="list-group">
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-info-sign"></span> {{ booking.reason }}
                        </div>
                        {% if booking.details %}
                            <div class="list-group-item">
                                <span class="glyphicon glyphicon-comment"></span> {{ booking.details|linebreaks }}
                            </div>
                        {% endif %}
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-list"></span>
                            {% for resource in booking.resources.all %}
                                {% if not forloop.last %}
                                    {{ resource }},
                                {% elif forloop.last %}
                                    {{ resource }}
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-tag"></span> {{ booking.category }}
                        </div>
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-user"></span> {{ booking.owner }}
                        </div>
                    </div>
                {% endblock information %}
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                {% block occurrence_form %}
                    <div class="panel-heading">
                        {% if perms.bookings.add_bookingoccurrence %}
                            <a href="{% url 'bookings:occurrence-new' booking_pk=booking.id %}"
                               class="btn btn-xs btn-success pull-right">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        {% endif %}
                        <h3 class="panel-title"><span
                                class="glyphicon glyphicon-calendar"></span> {% trans 'Occurrences' %}
                        </h3>
                    </div>
                {% endblock occurrence_form %}

                <div class="list-group">
                    {% for occurrence in booking.get_occurrences %}
                        {% if perms.bookings.change_bookingoccurrence %}
                            <a href="{% url 'bookings:occurrence-edit' booking_pk=booking.pk pk=occurrence.pk %}"
                               class="list-group-item">
                        {% else %}
                            <div class="list-group-item">
                        {% endif %}

                        <span class="glyphicon glyphicon-time"></span>

                        {{ occurrence.str_dates|capfirst }}

                        {% if perms.bookings.change_bookingoccurrence %}
                            </a>
                        {% else %}
                            </div>
                        {% endif %}
                    {% endfor %}
            </div>
        </div>
    </div>
    </div>

{% endblock add-content %}
