{% extends 'bookings/booking_detail.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block add_javascript %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.13.0/moment.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"
            crossorigin="anonymous"></script>
{% endblock add_javascript %}

{% block add_style %}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
{% endblock add_style %}

{% block title %}{% trans 'Nouvelle occurrence' %}{% endblock %}

{% block occurrence_form %}
    <div class="panel-body">
        <form action="{% url 'bookings:occurrence-new' booking_pk=booking.pk %}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-success btn-block">
                <span class="glyphicon glyphicon-plus"></span> {% trans 'Ajouter' %}
            </button>
        </form>
    </div>
{% endblock %}