{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block add-content %}
    <h2>
        {% block title %}Nouvelle occurrence pour la réservation{% endblock %}
    </h2>
    <div class="row">
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <span class="glyphicon glyphicon-list-alt"></span> {% trans 'Informations' %}
                    </h3>
                </div>
                <div class="list-group">
                    <div class="list-group-item">
                        <span class="glyphicon glyphicon-info-sign"></span> {{ booking.reason }}
                    </div>
                    {% if booking.details %}
                        <div class="list-group-item">
                            <span class="glyphicon glyphicon-comment"></span> {{ booking.details|linebreaks }}
                        </div>
                    {% endif %}
                    <div class="list-group-item">
                        <span class="glyphicon glyphicon-list"></span>
                        {% for resource in booking.resources.all %}
                            {% if not forloop.last %}
                                {{ resource }},
                            {% elif forloop.last %}
                                {{ resource }}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="list-group-item">
                        <span class="glyphicon glyphicon-tag"></span> {{ booking.category }}
                    </div>
                    <div class="list-group-item">
                        <span class="glyphicon glyphicon-user"></span> {{ booking.owner }}
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><span class="glyphicon glyphicon-calendar"></span> {% trans 'Occurrences' %}
                    </h3>
                </div>
                <div class="panel-body">
                    <form action="{% url 'bookings:occurrence-new' booking_pk=booking.pk %}" method="post">
                        {% csrf_token %}
                        {{ form|crispy }}
                        <button type="submit" class="btn btn-success btn-block">
                            <span class="glyphicon glyphicon-plus"></span> Ajouter
                        </button>
                    </form>
                </div>
                <div class="list-group">
                    {% for occurrence in booking.bookingoccurrence_set.all %}
                        <a href="#" class="list-group-item">
                            <span class="glyphicon glyphicon-time"></span>
                            {% ifequal occurrence.start.date occurrence.end.date %}
                                {% blocktrans with start_d=occurrence.start|date:'d/m/Y' start_t=occurrence.start|date:'H:i' end_t=occurrence.end|date:'H:i' %}
                                    Le {{ start_d }} de {{ start_t }} à {{ end_t }}
                                {% endblocktrans %}
                            {% else %}
                                {% blocktrans with start_d=occurrence.start|date:'d/m/Y' start_t=occurrence.start|date:'H:i' end_d=occurrence.end|date:'d/m/Y' end_t=occurrence.end|date:'H:i' %}
                                    Du {{ start_d }} ({{ start_t }}) au {{ end_d }} ({{ end_t }})
                                {% endblocktrans %}
                            {% endifequal %}
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
{% endblock %}