{% extends 'bookings/occurrence_edit.html' %}
{% load crispy_forms_filters %}
{% load i18n %}

{% block title %}{% trans 'Nouvelle occurrence' %}{% endblock %}

{% block start_form %}
    <form action="{% url 'bookings:occurrence-new' booking_pk=booking.pk %}" method="post">
{% endblock start_form %}

{% block occurrence_panel_body %}
    <div class="panel-body">
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-success btn-block">
            <span class="glyphicon glyphicon-floppy-disk"></span> {% trans 'Enregistrer' %}
        </button>
    </div>
{% endblock %}

{% block end_form %}
    </form>
{% endblock end_form %}