{% extends 'bookings/booking_detail.html' %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load static %}

{% block javascript %}
    {{ block.super }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.2/moment-with-locales.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="{% static 'bookings/occurrence_edit.js' %}"></script>
{% endblock javascript %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css">
{% endblock style %}

{% block title %}{% trans "Édition de l'occurrence" %}{% endblock %}

{% block start_form %}
    <form action="{% url 'bookings:occurrence-edit' booking_pk=booking.pk pk=object.pk %}" method="post">
{% endblock start_form %}

{% block occurrence_form %}
    <div class="panel-heading">
        <div class="btn-group pull-right">
            <a href="{% url 'bookings:booking-details' pk=booking.pk %}"
               class="btn btn-xs btn-warning">
                <span class="glyphicon glyphicon-remove"></span> {% trans 'Annuler' %}
            </a>
            <button type="submit" class="btn btn-xs btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span> {% trans 'Enregistrer' %}
            </button>
        </div>
        <h3 class="panel-title"><span class="glyphicon glyphicon-calendar"></span> {% trans 'Occurrences' %}
        </h3>
    </div>
    {% block occurrence_panel_body %}
        <div class="panel-body">
            {% csrf_token %}
            {{ form|crispy }}
            <div class="btn-group pull-right">
                <button type="submit" class="btn btn-success">
                    <span class="glyphicon glyphicon-floppy-disk"></span> {% trans 'Enregistrer' %}
                </button>
                {% if perms.bookings.delete_bookingoccurrence %}
                    <a href="{% url 'bookings:occurrence-delete' booking_pk=booking.pk pk=object.pk %}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-trash"></span> Supprimer
                    </a>
                {% endif %}
            </div>
        </div>
    {% endblock %}
{% endblock %}