{% extends 'base.html' %}

{% block content %}
    <h1>
        {% block title %}
            {{ category.name }}
        {% endblock title %}
    </h1>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-hover table-condensed table-bordered">
                    <tr>
                        <th class="text-center active">Heure</th>
                        {% for resource in resource_list %}
                            <th class="text-center"><a href="{{ resource.get_absolute_url }}">{{ resource.name }}</a>
                            </th>
                        {% endfor %}
                        <th class="text-center active">Heure</th>
                    </tr>
                    {% for slot in category.get_slots %}
                        <tr>
                            <td class="text-center active">{{ slot.start|date:'H:i' }} - {{ slot.end|date:'H:i' }}</td>
                            {% for resource in resource_list %}
                                <th class="text-center">
                                    <a href="#">Add</a>
                                </th>
                            {% endfor %}
                            <td class="text-center active">{{ slot.start|date:'H:i' }} - {{ slot.end|date:'H:i' }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <ul>
        {% for resource in resource_list %}
            <li>{{ resource.name }}</li>
            <ul>
                {% for occurrence in resource.get_occurrences %}
                    <li>{{ occurrence }}</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
{% endblock content %}
