{% extends 'base.html' %}
{% load i18n %}

{% block content %}
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    {% include 'bookings/resource_category_nav.html' %}
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h2>
                        {% block title %}
                            {{ category.name }} - {{ date }}
                        {% endblock title %}
                    </h2>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <a href="{{ category.get_absolute_url }}?year={{ date.year }}&month={{ date.month|add:'-1' }}&day={{ 1 }}"
                       class="btn btn-default btn-sm pull-left"><span class="">&laquo;</span></a>

                    <div class="btn-group">
                    <span class="btn btn-default btn-sm">
                        <span class="glyphicon glyphicon-calendar"></span> {{ date|date:'F'|title }}
                    </span>
                        <a href="{{ category.get_absolute_url }}?year={{ today.year }}&month={{ today.month }}&day={{ today.day }}"
                           class="btn btn-default btn-sm">{% trans "Aujourd'hui" %}</a>
                    </div>
                    <a href="{{ category.get_absolute_url }}?year={{ date.year }}&month={{ date.month|add:'1' }}&day={{ 1 }}"
                       class="btn btn-default btn-sm pull-right"><span class="">&raquo;</span></a>
                </div>
                <table class="table table-bordered table-condensed table-striped">
                    <tr>
                        <th class="text-center">{% trans 'Lu' %}</th>
                        <th class="text-center">{% trans 'Ma' %}</th>
                        <th class="text-center">{% trans 'Me' %}</th>
                        <th class="text-center">{% trans 'Je' %}</th>
                        <th class="text-center">{% trans 'Ve' %}</th>
                        <th class="text-center">{% trans 'Sa' %}</th>
                        <th class="text-center">{% trans 'Di' %}</th>
                    </tr>
                    {% for week in weeks %}
                        <tr>
                            {% for day in week %}
                                <td class="text-center{% if day == date %} warning{% endif %}">
                                    <a href="{{ category.get_absolute_url }}?year={{ day.year }}&month={{ day.month }}&day={{ day.day }}">
                                        {% if day.month != date.month %}
                                            {{ day.day }}
                                        {% else %}
                                            <strong>{{ day.day }}</strong>
                                        {% endif %}
                                    </a>
                                </td>
                            {% endfor %}
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped table-condensed table-bordered">
                    <tr>
                        <th class="text-center active col-md-1">{% trans 'Heure' %}</th>

                        {% for resource in resource_list %}
                            <th class="text-center active col-md-1">
                                {% if user.is_staff and perms.bookings.change_resource %}
                                    <a href="{% url 'admin:bookings_resource_change' resource.id %}">
                                        {{ resource.name }} <span class="glyphicon glyphicon-edit"></span>
                                    </a>
                                {% else %}
                                    {{ resource.name }}
                                {% endif %}
                                {% if resource.description %}
                                    <br>
                                    <span class="small">{{ resource.description }}</span>
                                {% endif %}
                            </th>
                        {% endfor %}

                        <th class="text-center active col-md-1">{% trans 'Heure' %}</th>
                    </tr>

                    {% for line in lines %}
                        <tr>
                            <td class="text-center active">
                                {{ line.slot.start|date:'H:i' }} - {{ line.slot.end|date:'H:i' }}
                            </td>

                            {% for cell in line.cells %}
                                {% if cell.type == 'start' %}
                                    <td class="text-center info" rowspan="{{ cell.rowspan }}">
                                        {% if user.is_authenticated %}
                                            <a href="{{ cell.occurrence.booking.get_absolute_url }}">
                                                <strong>{{ cell.occurrence.booking.reason }}</strong>
                                            </a>
                                            <br>
                                            <small>
                                                {% with occurrence=cell.occurrence %}
                                                    {% ifnotequal occurrence.start.date occurrence.end.date %}
                                                        <span class="glyphicon glyphicon-time"></span>
                                                        {% blocktrans with start_d=occurrence.start|date:'d/m/Y' start_t=occurrence.start|date:'H:i' end_d=occurrence.end|date:'d/m/Y' end_t=occurrence.end|date:'H:i' %}
                                                            {{ start_d }} ({{ start_t }}) -
                                                            {{ end_d }} ({{ end_t }})
                                                        {% endblocktrans %}
                                                    {% endifnotequal %}
                                                {% endwith %}
                                            </small>
                                        {% else %}
                                            {% trans "Réservé" %}
                                        {% endif %}
                                    </td>
                                {% elif cell.type == 'free' %}
                                    {% if user.is_authenticated %}
                                        <td class="text-center">
                                            <a href="{% url 'bookings:booking-new' %}?start={{ line.slot.start.isoformat }}&end={{ line.slot.end.isoformat }}">
                                                <span class="glyphicon glyphicon-plus-sign"></span>
                                            </a>
                                        </td>
                                    {% else %}
                                        <td></td>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}

                            <td class="text-center active">
                                {{ line.slot.start|date:'H:i' }} - {{ line.slot.end|date:'H:i' }}
                            </td>
                        </tr>
                    {% endfor %}

                    <tr>
                        <th class="text-center active">Heure</th>

                        {% for resource in resource_list %}
                            <th class="text-center active">
                                {{ resource.name }}
                            </th>
                        {% endfor %}

                        <th class="text-center active">Heure</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endblock content %}
