{% extends 'bookings/booking/booking_detail.html' %}
{% load i18n %}
{% load crispy_forms_filters %}
{% load static %}

{% block title %}
    {% trans 'Créer une réservation' as title %}
    {{ title|capfirst }}
{% endblock title %}

{% block javascript %}
    {{ block.super }}
    <script src="{% static 'bookings/booking_edit.js' %}"></script>
{% endblock javascript %}

{% block information %}
    <div class="panel-heading">
        <a href="{% url 'bookings:home' %}"
           class="btn btn-xs btn-warning pull-right">
            <span class="glyphicon glyphicon-remove"></span> {% trans 'Annuler' %}
        </a>
        <h3 class="panel-title">
            <span class="glyphicon glyphicon-list-alt"></span> {% trans 'Informations' %}
        </h3>
    </div>
    <div class="panel-body">
        <form action="{% url 'bookings:booking-new' %}?start={{ start.isoformat }}&end={{ end.isoformat }}&resource={{ resource_id }}" method="post">
            {% csrf_token %}
            {{ form|crispy }}
        <div class="btn-group pull-right">
            <button type="submit" class="btn btn-success">
                <span class="glyphicon glyphicon-floppy-disk"></span> Enregistrer
            </button>
        </div>
        </form>
    </div>
{% endblock information %}

{% block occurrences %}
{% endblock occurrences %}
